
  <!-- Jumbotron section -->
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Welcome to my website</h1>
      <p class="lead">This is a simple home page built with Bootstrap.</p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
  </div>

  <!-- Main content section -->
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>My Blog</h2>
        <p>Here's some content for my blog.</p>
      </div>
      <div class="col-md-4">
        <h2>Recent Posts</h2>
        <ul class="list-group">
          <li class="list-group-item">Post 1</li>
          <li class="list-group-item">Post 2</li>
          <li class="list-group-item">Post 3</li>
        </ul>
      </div>
    </div>
  </div>
